<!DOCTYPE html>

<html lang="en-US">
  <head>
    <meta content="text/html; charset=utf-8" http-equiv="Content-Type" />

    <title>New Account Email OTP</title>

    <meta name="description" content="New Account Email OTP." />

    <style type="text/css">
      @import url("https://fonts.googleapis.com/css2?family=Poppins:wght@500&display=swap");
      * {
        font-family: "Poppins", sans-serif;
      }
      a:hover {
        text-decoration: underline !important;
      }
    </style>
  </head>

  <body
    marginheight="0"
    topmargin="0"
    marginwidth="0"
    style="margin: 0px; background-color: #f2f3f8"
    leftmargin="0"
  >
    <table
      cellspacing="0"
      border="0"
      cellpadding="0"
      width="100%"
      bgcolor="#f2f3f8"
    >
      <tr>
        <td>
          <table
            style="background-color: #f2f3f8; max-width: 670px; margin: 0 auto"
            width="100%"
            border="0"
            align="center"
            cellpadding="0"
            cellspacing="0"
          >
            <tr>
              <td style="height: 50px">&nbsp;</td>
            </tr>

            <tr>
              <td style="text-align: center">
                <a href="https://rakeshmandal.com" title="logo" target="_blank">
                  <img
                    width="200"
                    src="https://0x0.st/H_XR.png"
                    title="logo"
                    alt="logo"
                  />
                </a>
              </td>
            </tr>

            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>

            <tr>
              <td>
                <table
                  width="95%"
                  border="0"
                  align="center"
                  cellpadding="0"
                  cellspacing="0"
                  style="
                    max-width: 670px;
                    background: #fff;
                    border-radius: 3px;
                    text-align: center;
                    -webkit-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    -moz-box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                    box-shadow: 0 6px 18px 0 rgba(0, 0, 0, 0.06);
                  "
                >
                  <tr>
                    <td style="height: 30px">&nbsp;</td>
                  </tr>

                  <tr>
                    <td style="padding: 0 35px">
                      <h1
                        style="
                          color: #1e1e2d;
                          margin: 0;
                          font-size: 32px;
                          font-family: 'Rubik', sans-serif;
                        "
                      >
                        Welcome <span><%= consumerData.fullName %></span>
                      </h1>

                      <p>
                        Use the following OTP to complete your Sign Up
                        procedures. OTP is valid for 5 minutes
                      </p>

                      <span
                        style="
                          display: inline-block;
                          vertical-align: middle;
                          margin: 0px 0 20px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        "
                      ></span>

                      <h2
                        style="
                          background: #dd6b20;
                          margin: 0 auto;
                          width: max-content;
                          padding: 5px 10px;
                          color: #fff;
                          border-radius: 4px;
                        "
                      >
                        <%= consumerData.otp %>
                      </h2>

                      <span
                        style="
                          display: inline-block;
                          vertical-align: middle;
                          margin: 20px 0 0px;
                          border-bottom: 1px solid #cecece;
                          width: 100px;
                        "
                      ></span>

                      <p style="font-size: 0.9em">
                        Regards,<br />Viduyt Electricity
                      </p>
                    </td>
                  </tr>

                  <tr class="footer">
                    <td style="padding: 0 35px">
                      <hr style="border: none; border-top: 1px solid #eee" />

                      <div
                        style="
                          float: right;
                          padding: 0px 0;
                          color: #aaa;
                          font-size: 0.8em;
                          line-height: 1;
                          font-weight: 300;
                        "
                      >
                        <p>Viduyt Electricity Inc</p>

                        <p>612 Gera Imperium</p>

                        <p>Panjim, Goa</p>
                      </div>
                    </td>
                  </tr>
                </table>
              </td>
            </tr>

            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>

            <tr>
              <td style="text-align: center">
                <p
                  style="
                    font-size: 14px;
                    color: rgba(69, 80, 86, 0.7411764705882353);
                    line-height: 18px;
                    margin: 0 0 0;
                  "
                >
                  &copy; <strong>www.viduytElectricity.com</strong>
                </p>
              </td>
            </tr>

            <tr>
              <td style="height: 20px">&nbsp;</td>
            </tr>
          </table>
        </td>
      </tr>
    </table>
  </body>
</html>
